@{
    ViewData["Title"] = "How does it work";
}


<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="text-uppercase" style="font:bolder 50px arial">How does it work ?</h1>
                <h3 class="text-muted section-subheading">You are lost ? Just follow our little tutorial specialy made for you</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-group timeline">
                    <li class="list-group-item" style="text-align:center;">
                        <div class="timeline-image"><img class="rounded-circle img-fluid"  src="~/images/user-account.jpg"  height="200" width="200" style="margin-top:40px; margin-bottom:40px;"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 style="text-align:center">Create an account and login</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The first thing to do is to create an account in order to log in to join our big family !</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item timeline-inverted" style="text-align:center;">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/images/Tomato.png" height="200" width="200" style="margin-top:40px; margin-bottom:40px;"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 style="text-align:center">You are hungry ?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> Your are obviously hungry if you are on our website... So in order to satisfy this feeling, you just need to choose the restaurant you want to order from to see all their dishes</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item" style="text-align:center;">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/images/cart.png" height="400" width="400"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 style="text-align:center">Everything is to your liking ?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Have you made your choice yet ? Then it's time to order by simply clicking on the button "Add to cart"</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item timeline-inverted" style="text-align:center;">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/images/quantity.png" height="300" width="300"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 style="text-align:center">Configure to your wish</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">You want to order more than just 1 spring roll ? Then, modify the quantity directy into the basket. When it's done click on the order button !</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
