<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VsEat</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <style>

        .topnav {
            overflow: hidden;
            background-color: #6d1515;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

        .topnav-right {
            float: right;
        }
    </style>


</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                    <a asp-area="" asp-controller="Home" asp-action="Index" class="brand"><img src="~/images/Logo_blanc.png" width="130" height="50" alt=""></a>
                </div>


            <div class="topnav topnav-right">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-area="" asp-controller="Home" asp-action="About">About</a>
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                <a asp-area="" asp-controller="Restaurants" asp-action="GetRestaurants">Restaurants</a>
                @if (User.Identity.IsAuthenticated)
                {
                    string name = User.Identity.Name;
                    <a asp-area="" asp-controller="SignUp" asp-action="SignUp"><span class="glyphicon glyphicon-user"></span> @name  </a>
                    <a asp-area="" asp-controller="Home" asp-action="DeleteCookie"><span class="glyphicon glyphicon-log-in"></span> Log out</a>
                    
}
else
{
            <a asp-area="" asp-controller="SignUp" asp-action="SignUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
            <a asp-area="" asp-controller="Login" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        }
            </div>
            </div>
    </nav>


    <partial name="_CookieConsentPartial" />

    
        @RenderBody()
        
        <!-- Footer -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Footer Menu -->
        <footer class="bottom"id="footer">

            <!-- Copyright Section -->
            <div class="copyright">
                <p>©  All rights reserved | MCPJACK</p>

                <ul class="contact">
                    <li>
                        <i class="fa fa-twitter"></i>
                    </li>

                    <li>
                        <i2 class="fa fa-snapchat"></i2>
                    </li>

                    <li>
                        <i class="fa fa-linkedin"></i>
                    </li>
                    
                </ul>
            </div>
        </footer>





    










    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
