
@{
    ViewData["Title"] = "Confirmation";
}

<h2 style="font:bolder 50px arial">Thank you for your order !</h2>
<span>You can check this order on your account </span>
<br/>
<a href="@Url.Action("Index", "Home")" class="btn" style="background-color:#aa1515; margin-top:10px;margin-bottom:10px;">
    <span>
        <strong style="color:white; font:20px arial">Back to Home</strong>
    </span>
</a>

