
@{
    ViewData["Title"] = "Confirmation";
}

<h2 style="font:bold;font-size:50px">Thank you for your order!</h2>
<span>Your order number is : </span>
<span>Your order will arrive at :</span>
<a>Return to the Home</a>

