
@{
    ViewData["Title"] = "NoFreeCourier";
}

<h2 style="font-size:50px; font:bold">Sorry !</h2>
<p>We could not find any courier that is available, please try again later !</p>

<a href="@Url.Action("Index", "Home")" class="btn" style="background-color:#aa1515;">
    <span>
        <strong class="glyphicon glyphicon-trash" style="color:white;">Return to Home</strong>
    </span>
</a>