@model IEnumerable<WebAppVsEat.Models.Cart>

@{
    ViewData["Title"] = "DetailsOrder";
}

<h1 style="font:bolder 50px arial">Details of the order</h1>

<table class="table" style="background-color:lightgrey">
    <thead>
        <tr style="background-color:#3d3a3a; color:white;">
            <th>
                Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Product Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem =>item.dish.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPriceProduct) CHF
            </td>
            <td>
            </td>
        </tr>
}
        <tr>
            <td colspan="4"><strong>Total Price : @Model.Sum(m => m.totalPriceProduct) CHF</strong></td>
        </tr>
    </tbody>
</table>
